[submodule "lib/--name"]
	path = lib/--name
	url = git@github.com:jackfriedson/poloniex-python3.git
[submodule "lib/poloniex"]
	path = lib/poloniex
	url = git@github.com:jackfriedson/poloniex-python3.git
